<h1>Akka Guice Integration</h1>

<h2>Installation</h2>

<p>Add the following to your build.sbt:</p>

<p><code><pre>
resolvers += "release repository" at "http://chanan.github.io/maven-repo/releases/"
resolvers += "snapshot repository" at "http://chanan.github.io/maven-repo/snapshots/"
</pre></code></p>

<p>Add to your libraryDependencies:</p>

<p><code><pre>
"akkaguice" %% "akkaguice" % "0.7.0"
</pre></code></p>

<h2>Initialization</h2>

<p>In Global.java create an Injector using AkkaGuiceModule with a list of your namespaces that will contain your actors. 
You may also pass in your own GuiceModules, as in the example below. 
Next, in the onStart callback method pass the injector to AkkaGuice.InitializeInjector() and your namespace 
(such as com.company.project - in this case I am using the "services" package):</p>

<p><code><pre>
public class Global extends GlobalSettings {
	private final Injector injector = Guice.createInjector(new AkkaGuiceModule("services"), new GuiceModule());
	
	@@Override
	public void onStart(Application application)
	{
		AkkaGuice.InitializeInjector(injector, "services");
	}
}
</pre></code></p>

<h2>Usage</h2>

<h3>Registering Actors</h3>

<p>AkkaGuice will scan your code in the packages you set in the intialization above. This will make them available in Guice 
to be injected into your controllers or services.</p>

<h3>Naming an Actor</h3>

<p>AkkaGuice will be default register your actors by the class name. If a collision occurs, it will use the fully qualified 
class name of the actor. An example of this is the 
HelloActor in the sample project. There is one registered as services.HelloActor and one as services.schedule.HelloActor. 
You may also name your actor using @@Named annotation (java.inject.Named).</p>

<p><code><pre>
@@Named("AnnotatedActor") @@Singleton
public class AnnotatedWithNameActor extends UntypedActor {

	@@Override
	public void onReceive(Object arg0) throws Exception {
		Logger.info("Hello from actor using named annotation");
	}
}
</pre></code></p>

<h3>Top Level Actors Versus Per Request Actors</h3>

<p>An actor marked with the @@Singleton annotation will return the same ActorRef from Guice. If the Actor is not annotated
as a @@Singleton, a new ActorRef will be returned each time. Also, a non-singleton actor will be registered in AkkaGuice's 
PropsContext (See below: "On Demand Creation of Actors").</p>

<h3>A Note About Usage of Singleton</h3>

<p>You may have seen the <a href="http://doc.akka.io/docs/akka/2.2.3/java/untyped-actors.html#Dependency_Injection">
warning in the akka documentation in the Dependancy Injection section</a> regarding using Singleton attribute. 
The warning applies to returning the same actor class. In the case of AkkaGuice we are
returning the same ActorRef. This still allows Akka to restart the actor if needed.</p>


<h3>Actors in Controllers</h3>

<p>As mention above, when the annotation does not have a name, Actors are bound to ActorRefs with a name of the class 
if there are no collision. Otherwise they are bound to a name of the fully qualified class name. 
For example, in the sample app in the Application controller the HelloActor is injected with the fully qualified 
name as two HelloActors exist in the project:</p>

<p><code><pre>
private final ActorRef service;

@@Inject
public Application(@@Named("services.HelloActor") ActorRef service) {
	this.service = service;
}
</pre></code></p>

<h3>Services in Actors</h3>

<p>Any services injected into actors will be resolved as well:</p>

<p><code><pre>
public class HelloActor extends UntypedActor {
	private final SayHello hello;

	@@Inject
	public HelloActor(SayHello hello) {
		this.hello = hello;
	}
	...
}
</pre></code></p>

<h3>On Demand Creation of Actors</h3>

<p>ActorRefs can also be request from Guice on demand. All injections will still be resolved. 
This example is from services.HelloActor:</p>

<p><code><pre>
final ActorRef perRequestActor = Akka.system().actorOf(PropsContext.get(PerRequestActor.class));
</pre></code></p>

<p>Or:</p>

<p><code><pre>
final ActorRef perRequestActorByName = getContext().actorOf(PropsContext.get("PerRequest"));
</pre></code></p>

<h2>Scheduling</h2>

<p>AkkaGuice also provides for automatic scheduling of Actors. A String "tick" will be sent 
to the Actor on the schedule set by the annotation. </p>

<h3>Schedule</h3>

<p>As seen in the services.schedule.HelloActor class, use the schedule annotation to 
periodically ping your actor:</p>

<p><code><pre>
@@Schedule(initialDelay = 1, timeUnit = TimeUnit.SECONDS, interval = 2)
</pre></code></p>

<h3>Schedule Once</h3>

<p>To ping your actor one time use the ScheduleOnce annotation. This example is located in 
services.schedule.HelloOnceActor:</p>

<p><code><pre>
@@ScheduleOnce()
</pre></code></p>

<p>In this case, the defaults of the annotation were used:</p>

<ul>
<li>InitialDelay: 500</li>
<li>TimeUnit: MILLISECONDS</li>
</ul>

<h2>Scheduling via Conf File</h2>

<p>If values are entered in the conf file they override the values of the annotation.</p>

<h3>Schedule</h3>

<p>The following entries can be entered in the conf file:</p>

<p><code><pre>
services.schedule.HelloRepeatConfigActor.initialDelay = 4 seconds
services.schedule.HelloRepeatConfigActor.interval = 2 seconds
</pre></code></p>

<h3>Schedule once</h3>

<p>The following can be entered via config:</p>

<p><code><pre>
services.schedule.HelloOnceConfigActor.initialDelay = 5 seconds
</pre></code></p>

<h3>Enable via config</h3>

<p>You can diable both types of scheduled actors via config:</p>

<p><code><pre>
services.schedule.NotEnabledActor.enabled = false
</pre></code></p>

<h2>Release History</h2>

<ul>
<li>0.7.0 - Removed @@RegisterActor in favor of @@Singleton & @@Named</li>
<li>0.6.0 - Change the API to not require child injectors</li>
<li>0.5.0 - Scheduling via conf files</li>
<li>0.4.0 - Added: RegisterProps and PropsContext</li>
<li>0.3.0 - Changed to not scan class automatically based on feedback on the Akka Google group.</li>
<li>0.2.0 - Added Named annotation</li>
<li>0.1.0 - Initial release</li>
</ul>